html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px
}

/* element-ui 样式覆盖or重写 如果是在body元素下的样式覆盖 class就要写在全局  */

.popover {
  background-color: #cccccc;
}

.marginRight7 {
  margin-right: 7px;
}

.cursorPointer {
  cursor: pointer;
}

.testClass {
  border: 1px dotted;
}
